<div class="container">
    <div class="filters">
      <button class="button" (click)="filter='Heads'">Heads</button>
      <button class="button" (click)="filter='Arms'">Arms</button>
      <button class="button" (click)="filter='Torsos'">Torsos</button>
      <button class="button" (click)="filter='Bases'">Bases</button>
      <button class="button" (click)="filter=''">All</button>
    </div>
  
    <ul class="products">
      <li class="product-item" *ngFor="let product of generateFilteredProducts()">
        <div class="product" >
          <div class="product-details" >
            <img [src]="generateImageUrl(product)" [alt]="product?.name" />
            <div class="product-info">
              <div class="name">{{product?.name}}</div>
              <div class="description">{{product?.description}}</div>
              <div class="category">Part Type: {{product?.category}}</div>
            </div>
          </div>
          <div class="price">
            <div [ngStyle]="{ 'color' : product.discount > 0 ? 'red':'green'}" [ngClass]="generateDiscount(product)">{{product?.price | currency:'INR'}}</div>
            <div class ="discount" *ngIf="product.discount > 0">{{(product.price*(1-product.discount)) | currency:'INR'}}</div>
            <button class="cta">Buy</button>
          </div>
        </div>
      </li>
    </ul>
  </div>